/* GENERIC STYLES
-------------------------------------------------- */
* { padding: 0; margin: 0; border: none; }
body { font-family: 'Open Sans', sans-serif; }
h1, h2, h3 { margin: 0; text-align: center; color: #ffffff; }
h1, h2 { font-size: 4rem; font-weight: 700; }
h3 { font-size: 3rem; font-weight: 100; }
@media screen and (max-width: 480px) {
	h1, h2 { font-size: 2.8rem; font-weight: 400; }
	h3 { font-size: 1.8rem; }
}
a { text-decoration: none; color: inherit; }
a:hover { text-decoration: none; color: #ffffff; }
section { padding: 80px 0; border-top: 4px solid #ffffff; }
.page { width: 100%; max-width: 100%; max-height: 100%; }
.button { background: #400263; display: inline-block; padding: 10px 20px; margin: 10px 0; border-radius: 8px; font-size: 1.6rem; font-weight: 100; line-height: 20px; color: #ffffff; }

/* SIDEBAR HEADER STYLES
-------------------------------------------------- */
header { background: url("../img/bg-geo-gradient.jpg") center no-repeat; position: fixed; top: 0; left: 0; width: 100%; height: 60px; z-index: 15; }
header h1 { float: left; height: 30px; margin: 15px 0; }
header h1 a { display: block; text-indent: -9999px; }
header h1 a > img { float: left; height: 30px; }
header .button { float: right; }


/* COVER STYLES
-------------------------------------------------- */
.cover { position: relative; width: 100%; margin-top: 60px; }
.cover {  background: #000000; /* For browsers that do not support gradients */
	background: -webkit-radial-gradient(circle, rgb(67,0,145), rgb(0,0,0) 40%); /* Safari */
	background: -o-radial-gradient(circle, rgb(67,0,145), rgb(0,0,0) 40%); /* Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(circle, rgb(67,0,145), rgb(0,0,0) 40%); /* Firefox 3.6 to 15 */
	background: radial-gradient(circle, rgb(67,0,145), rgb(0,0,0) 40%); /* Standard syntax */
}
.cover .cover-logo { position: absolute; top: 37%; left: 50%; width: 200px; height: auto; margin-left: -100px; }
@media screen and (max-width: 480px) {
	.cover .cover-logo { top: 37%; left: 50%; width: 100px; height: auto; margin-left: -50px; }
}
.cover .cover-scroll { position: absolute; width: 100%; left: 0; bottom: 40px; }
.cover .cover-scroll span { display: block; font-size: 4.8rem; text-align: center; color: #ffffff; }
.cover .cover-scroll:hover span { animation: bounce 0.3s ease-out infinite alternate; -webkit-animation: bounce 0.3s ease-out infinite alternate; }


/* APP & ADMIN LINK STYLES
-------------------------------------------------- */
.app-link { background: url("../img/main-cover.jpg") center no-repeat; }
.admin-link { background: url("../img/bg-events-list.jpg") center no-repeat; }


/* APP & ADMIN FEATURE STYLES
-------------------------------------------------- */
.app-feature { background: #540381; }
.admin-feature { background: url("../img/main-cover.jpg") center no-repeat; background-size: cover; }
.feature { text-align: center; overflow: hidden; }
.feature h3 { margin-top: 10px; }
.feature .infograph { display: block; margin-top: 60px; margin-bottom: 40px; }
.feature .infograph > img { position: relative; height: auto; }
.app-feature .infograph > img { width: 25%; }
.admin-feature .infograph > img { width: 30%; }
.feature .infograph .image-animate { -webkit-transform: rotateY(90deg); transform: rotateY(90deg); opacity: 0; }
.feature p { position: absolute; width: 30%; font-size: 2rem; font-weight: 700; text-transform: uppercase; line-height: 1.5; color: #ffffff; opacity: 0; }
.app-feature .info-text-1, .app-feature .info-text-2, .app-feature .info-text-3, .app-feature .info-text-4 { color: #df8fff; }
.app-feature .info-text-1 { top: 120px; left: 20px; }
.app-feature .info-text-2 { top: 60px; right: 120px; }
.app-feature .info-text-3 { top: 320px; left: 120px; }
.app-feature .info-text-4 { top: 260px; right: 20px; }
.admin-feature .info-text-1 { top: 60px; left: 0; }
.admin-feature .info-text-2 { top: 60px; right: 0; }
.admin-feature .info-text-3 { top: 240px; left: 80px; }
.admin-feature .info-text-4 { top: 240px; right: 80px; }
@media screen and (max-width: 768px) {
	.app-feature .infograph > img { width: 40%; }
	.app-feature .info-text-1 { top: 60px; left: 0px; }
	.app-feature .info-text-2 { top: 0; right: 60px; }
	.app-feature .info-text-3 { top: 260px; left: 60px; }
	.app-feature .info-text-4 { top: 200px; right: 0px; }
	.admin-feature .infograph > img { width: 45%; }
	.admin-feature .info-text-3 { left: 0; }
	.admin-feature .info-text-4 { right: 0; }
}
@media screen and (max-width: 480px) {
	.feature .infograph { margin-bottom: 0; }
	.feature .infograph > img { width: 60%; margin-bottom: 20px; }
	.feature .info-text-1, .feature .info-text-2, .feature .info-text-3, .feature .info-text-4  { position: relative; width: 100%; font-size: 1.6rem; font-weight: 400; line-height: 1.4; }
	.feature .info-text-1, .feature .info-text-2, .feature .info-text-3, .feature .info-text-4 { top: auto; left: 0px; margin-bottom: 20px; }

}


/* PARTNERS STYLES
-------------------------------------------------- */
.discos { background: #000000; padding: 60px 0; }
.discos .discos-thumb { margin: 20px 0; text-align: center; }
.discos .discos-thumb .discos-logo { display: block; width: 140px; height: 140px; margin: 0 auto 10px; border: 2px solid #ff1fff; border-radius: 100%; overflow: hidden; }
.discos .discos-thumb .discos-logo img { width: 140px; height: 140px; }
.discos .discos-thumb .discos-location { display: block; font-size: 1.4rem; font-weight: 400px; text-align: center; color: #ffffff; }


/* ABOUT COVER STYLES
-------------------------------------------------- */
.admin-cover { background: url("../img/main-cover.jpg") no-repeat center; background-size: cover; width: 100%; height: 440px; margin-top: 60px; border: none; text-align: center; }
.admin-cover h2 { margin-top: 80px; }
.admin-cover h3 { margin-top: 20px; }


/* ABOUT SECTIONS STYLES
-------------------------------------------------- */
.about-page { text-align: center; color: #ffffff; }
.about-page img { opacity: 0; }
.about-page h2 { margin-top: 80px; opacity: 0; }
.about-page p { margin-top: 20px; font-size: 1.4rem; line-height: 2; opacity: 0; }
.about-page > * { position: relative; }
.about-admin-functions, .about-admin-instructive, .about-app-functions, .about-app-instructive { background: url("../img/bg-admin-white.jpg") no-repeat center; background-size: cover; padding-bottom: 0; }
.about-admin-functions h2, .about-admin-instructive h2, .about-admin-functions p, .about-admin-instructive p, .about-app-functions h2, .about-app-instructive h2, .about-app-functions p, .about-app-instructive p { color: #1d1d1b; }
.about-admin-services, .about-admin-login, .about-app-services, .about-app-login { min-height: 480px; }
.about-admin-services { background: url("../img/bg-admin-services.jpg") no-repeat center; background-size: cover; }
.about-admin-login { background: url("../img/bg-admin-login.jpg") no-repeat center; background-size: cover; }
.about-app-services { background: url("../img/bg-app-services.jpg") no-repeat center; background-size: cover; }
.about-app-login { background: url("../img/bg-app-login.jpg") no-repeat center; background-size: cover; }
.about-page .button { opacity: 0; }
@media screen and (max-width: 640px) {
	.about-page img { width: 60%; margin-bottom: 40px; }
	.about-page h2 { font-size: 2.8rem; }
}


/* SUSCRIBE STYLES
-------------------------------------------------- */
.contacts { background: url("../img/bg-contacts.jpg") center no-repeat; }
.contacts h2 { margin-bottom: 40px; }
.contacts .contacts-form { text-align: center; }
.contacts .contacts-form label { display: inline-block; width: 40%; margin: 10px 20px; text-align: left; font-size: 1.8rem; font-weight: 100; color: #ffffff; }
@media screen and ( max-width: 360px ) {
	.contacts .contacts-form label { width: 100%; margin: 10px 0; }
}
.contacts .contacts-form input { background: none; display: block; width: 100%; padding: 10px 0 5px; border-bottom: 1px solid #ffffff; font-size: 2.4rem; font-weight: 100; color: #ffffff; }
.contacts .contacts-form .button { display: block; margin: 20px auto 80px; }
.contacts .contacts-social { text-align: center; }
.contacts .contacts-social a { display: inline-block; margin: 40px 10px 0; }
.contacts .contacts-social a img { width: 40px; height: 40px; }


/* FOOTER STYLES
-------------------------------------------------- */
footer { background: #000000; height: 60px; text-align: center; line-height: 60px; }
footer h6, footer a { display: inline-block; padding: 0 20px; font-size: 1.4rem; font-weight: 400; color: #ffffff; }
footer a:hover { color: #ffffff; }


/* ANIMATIONS STYLES
-------------------------------------------------- */
.imageturn-animate-on { -webkit-animation: turn-image 1s 1 ease-out forwards; animation: turn-image 1s 1 ease-out forwards; }
.slideup-animate-on { -webkit-animation: slide-up 1s 1 ease-out forwards; -webkit-animation-delay: 1s; animation: slide-up 1s 1 ease-out forwards; animation-delay: 1s; }
.imagescale-animate-on { -webkit-animation: scale-image 0.5s 1 ease-out forwards; animation: scale-image 0.5s 1 ease-out forwards; }
.slideright-animate-on { -webkit-animation: slide-right 1s 1 ease-out forwards; -webkit-animation-delay: 1s; animation: slide-right 1s 1 ease-out forwards; animation-delay: 1s; }
.slideleft-animate-on { -webkit-animation: slide-left 1s 1 ease-out forwards; -webkit-animation-delay: 1s; animation: slide-left 1s 1 ease-out forwards; animation-delay: 1s; }

@keyframes bounce {
	from { margin-bottom: 0px; }
	to { margin-bottom: 20px; }
}
@-webkit-keyframes bounce {
	from { margin-bottom: 0px; }
	to { margin-bottom: 20px; }
}

@keyframes turn-image {
	from { -webkit-transform: rotateY(90deg) translateY(200px); transform: rotateY(90deg) translateY(200px); opacity: 0; }
	to { -webkit-transform: rotateY(0deg) translateY(0px); transform: rotateY(0deg) translateY(0px); opacity: 1; }
}
@-webkit-keyframes turn-image {
	from { -webkit-transform: rotateY(90deg)translateY(200px); transform: rotateY(90deg)translateY(200px); opacity: 0; }
	to { -webkit-transform: rotateY(0deg) translateY(0px); transform: rotateY(0deg) translateY(0px);  opacity: 1;}
}

@keyframes slide-up {
	from { -webkit-transform: translateY(200px); transform: translateY(200px); opacity: 0; }
	to { -webkit-transform: translateY(0px); transform: translateY(0px); opacity: 1; }
}
@-webkit-keyframes slide-up {
	from { -webkit-transform: translateY(200px); transform: translateY(200px); opacity: 0; }
	to { -webkit-transform: translateY(0px); transform: translateY(0px);  opacity: 1;}
}

@keyframes scale-image {
	from { -webkit-transform: scale(0.2,0.2); transform: scale(0.2,0.2); opacity: 0; }
	to { -webkit-transform: scale(1,1); transform: scale(1,1); opacity: 1; }
}
@-webkit-keyframes scale-image {
	from { -webkit-transform: scale(0.2,0.2); transform: scale(0.2,0.2); opacity: 0; }
	to { -webkit-transform: scale(1,1); transform: scale(1,1); opacity: 1;}
}

@keyframes slide-left {
	from { -webkit-transform: translateX(200px); transform: translateX(200px); opacity: 0; }
	to { -webkit-transform: translateX(0px); transform: translateX(0px); opacity: 1; }
}
@-webkit-keyframes slide-left {
	from { -webkit-transform: translateX(200px); transform: translateX(200px); opacity: 0; }
	to { -webkit-transform: translateX(0px); transform: translateX(0px);  opacity: 1;}
}

@keyframes slide-right {
	from { -webkit-transform: translateX(-200px); transform: translateX(-200px); opacity: 0; }
	to { -webkit-transform: translateX(0px); transform: translateX(0px); opacity: 1; }
}
@-webkit-keyframes slide-right {
	from { -webkit-transform: translateX(-200px); transform: translateX(-200px); opacity: 0; }
	to { -webkit-transform: translateX(0px); transform: translateX(0px);  opacity: 1;}
}

